$body-bg: #f4f4f4;
$line-height-base: 1.57142857;
// $link-color: #1d7cf4;
$link-color: #92A8B4;
$link-hover-decoration: none;

$brand-success: #29b35b;
$brand-danger: #b61b17;

$font-family-base: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 600;

$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: #b61b17;
$alert-danger-text: #b61b17;
$alert-danger-bg: #ffcdd2;

$navbar-height: 56px;
// $navbar-default-bg: #fff;
$navbar-default-bg: #222F48;
$navbar-default-border: #e0e0e0;
$navbar-default-color: #757575;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #fff;

$panel-heading-padding: 20px 30px;
$panel-body-padding: 30px;

$margin-right: 15px;

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");
@import "vendor/bootstrap";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
  letter-spacing: .5px;
}

body {
  margin-bottom: 44px;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

// Alerts
// -------------------------

.alert {
  border-width: 0 0 0 3px;
}

// Navbar
// -------------------------

.navbar-default .navbar-nav > li > a {
  color: $link-color;
  border-bottom: 3px solid transparent;
  padding-bottom: ($navbar-padding-vertical - 3);
  transition: all 0.25s;
  &:hover {
    border-bottom-color: #27E4FD;
  }
  &.navbar-avatar {
    padding-top: $navbar-padding-vertical - 4.5;
    padding-bottom: ($navbar-padding-vertical - 4.5) - 3;
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #27E4FD;
}

.sidenav-icon li i{
  margin-right: $margin-right;
}

.side-bar {
  background-color: #37455E; 
  height: 850px; 
  padding: 0px;
  a{
    padding: 15px 0 15px 25px !important;
  }
}

.navi .active a {
    background: #222F48;
    border-left: 3px solid #27E4FD;
    // padding-left: 25px;
}

.navi a:hover {
    background: #222F48 none repeat scroll 0 0;
    border-left: 3px solid #27E4FD;
    display: block;
    // padding-left: 15px;
}

// Panels
// -------------------------

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

// Buttons
// -------------------------

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
  &:focus {
    outline: 0 !important;
  }
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
  &:active {
    background: darken(#f5f5f5, 6%) linear-gradient(to bottom, darken(#fff, 6%), darken(#f5f5f5, 6%));
  }
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
  &:active {
    background: darken(#29b35b, 6%) linear-gradient(to bottom, darken(#2ec866, 6%), darken(#29b35b, 6%));
  }
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
  &:active {
    background: darken(#b61b17, 6%) linear-gradient(to bottom, darken(#cc1e1a, 6%), darken(#b61b17, 6%));
  }
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

// Forms
// -------------------------

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

// 
// Admin Panel
// 

// Recent Activity

.panel-activity {
  background-color: #222F48;
  h3 {
    color: #fff;
  }
  a {
    font-size: 12px;
    color: #72848B;
    font-weight: normal;
  }

}

.message-item {
margin-bottom: 10px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
// background: #fff;
// border: 1px solid #ddd;
// border-radius: 3px;
padding: 10px 5px 10px 0;
position: relative;
}
// .message-item .message-inner:before {
// border-right: 10px solid #ddd;
// border-style: solid;
// border-width: 10px;
// color: rgba(0,0,0,0);
// content: "";
// display: block;
// height: 0;
// position: absolute;
// left: -20px;
// top: 6px;
// width: 0;
// }
// .message-item .message-inner:after {
// border-right: 10px solid #fff;
// border-style: solid;
// border-width: 10px;
// color: rgba(0,0,0,0);
// content: "";
// display: block;
// height: 0;
// position: absolute;
// left: -18px;
// top: 6px;
// width: 0;
// }
.message-item:before {
background: #37455E;
border-radius: 2px;
bottom: -15px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 70%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
// background: #fff;
border: 2px solid #25CD6B;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 14px;
left: -36px;
position: absolute;
top: 15px;
width: 14px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
// .message-item .message-head {
// border-bottom: 1px solid #eee;
// margin-bottom: 8px;
// padding-bottom: 8px;
// }
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail p {
font-size: 16px;
// font-weight: bold;
margin: 0;
color: #92A8B4;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.img-time {
 min-height: 40px;
 max-height: 40px;
}
.qa-message-content {
  color: #5e7a87;
  font-size: 13px;
  width: 75%;
  margin-top: 8px;
}
.label-date {
  margin-left: 24px;
  font-size: 12px;
  background-color: #37455E;
  color: #72848B;
  font-weight: normal;
  padding: .3em .6em;
}

// Customer Widget

.media{
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp{
    border: 4px solid #37455E;
    transition: all 0.2s ease-in-out;
}
.dp:hover{
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
    /*-webkit-font-smoothing:antialiased;*/
}

.cust-info {
    font-size: 16px;
    margin: 0;
    color: #92A8B4;
    font-weight: normal;
    small {
      color: #5e7a87;
    }
}
.cust {
  padding: 3px 15px 15px 15px;
  hr {
    margin:8px auto; 
    border-top: 1px solid #37455E;
  }
  .progress {
    background-color: #37455E; 
    height: 16px;
  }
}

.money-sent {
  background-color: #58B74E;
  line-height: 15px; 
  font-size: 11px;
}

.cust-card {
  padding: 15px 15px 5px 23px;
}


// Landing page

header {
  background: linear-gradient(
      rgba(14, 118, 188, 0.60), 
      rgba(14, 118, 188, 0.60)
    ),url('wirecash-bg.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  margin-bottom: 30px;
}

.intro-lead-in {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  height: 50px;
  text-align: center;
  text-size-adjust: 100%;
  width: 1140px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 570px 20px;
  transform-origin: 570px 20px;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal 50px / 50px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font: italic normal normal normal 40px / 40px "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 60px 0px 25px 35px;
  outline: rgb(255, 255, 255) none 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.intro-heading {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  height: 35px;
  text-align: center;
  text-size-adjust: 100%;
  // text-transform: uppercase;
  width: 1140px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 570px 37.5px;
  transform-origin: 570px 37.5px;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal 35px / 35px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px 0px 50px;
  outline: rgb(255, 255, 255) none 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.product .img-responsive {
  margin: 0 auto;
  margin-bottom: 25px;
}

.product-text {
  font: normal normal normal 25px / 25px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 25px;
  color: #829CA9;
  line-height: 40px;
  letter-spacing: 1px;
}

// Send Money Page

.send-box {
  font-size: 25px; 
  padding-bottom: 10px;
}

.form-fix {
  label {
    margin-top: 10px;
  }
}

td {
    padding: 25px 0;
  }

