<div class="container-fluid">

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Send Money</h3>
        </div>
        <div class="panel-body">
          <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
          </div>
          <div ng-if="messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
          </div>
          <form ng-submit="sendTransForm()" class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-sm-2">Recipient Name</label>
              <div class="col-sm-8">
                <input type="text" name="recipient" id="recipient" class="form-control" ng-model="transaction.recipient" autofocus>
              </div>
            </div>
 <!--            <div class="form-group">
              <label for="email" class="col-sm-2">Email</label>
              <div class="col-sm-8">
                <input type="email" name="email" id="email" class="form-control" ng-model="contact.email">
              </div>
            </div> -->
            <div class="form-group">
              <label for="amount" class="col-sm-2">Amount</label>
              <div class="col-sm-8">
                <input type="text" name="amount" id="amount" class="form-control" ng-model="transaction.amount">
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="col-sm-2">Country</label>
              <div class="col-sm-8">
                <input type="text" name="country" id="country" class="form-control" ng-model="transaction.country">
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="col-sm-2">Payment</label>
              <div class="col-sm-8">
                <input type="text" name="payment" id="payment" class="form-control" ng-model="transaction.payment">
              </div>
            </div>
<!--             <div class="form-group">
              <label for="message" class="col-sm-2">Body</label>
              <div class="col-sm-8">
                <textarea name="message" id="message" rows="7" class="form-control" ng-model="contact.message"></textarea>
              </div>
            </div> -->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-success">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <!-- End Row -->

<!--   <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Row --> 

</div>
