<div class="container-fluid" style="margin-top: 30px;">

  <div class="row">

    <div class="col-md-4">
      
      <div class="panel">
<!--         <div class="panel-heading">
          <h2 class="panel-title text-center">Send Money</h2>
        </div> -->
        <div class="panel-body" style="padding-top: 10px;">
          <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
          </div>
          <div ng-if="messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
          </div>
          <form ng-submit="sendTransForm()" class="form-horizontal form-fix">
          <legend class="text-center send-box">Send Money</legend>
            <div class="form-group">
              <label for="name" class="col-sm-3">Recipient</label>
              <div class="col-sm-9">
                <input type="text" name="recipient" id="recipient" class="form-control" ng-model="transaction.recipient" autofocus placeholder="John Doe">
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="col-sm-3">Amount</label>
              <div class="col-sm-9">
                <input type="text" name="amount" id="amount" class="form-control" ng-model="transaction.amount" placeholder="$250.00">
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="col-sm-3">Country</label>
              <div class="col-sm-9">
                <input type="text" name="country" id="country" class="form-control" ng-model="transaction.country" placeholder="Phillipines">
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="col-sm-3">Payment</label>
              <div class="col-sm-9">
                <input type="text" name="payment" id="payment" class="form-control" ng-model="transaction.payment" placeholder="Bank">
              </div>
            </div>
            <div class="form-group" style="margin-top: 25px;">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">Send Money</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <!-- End Side Panel -->

    <div class="col-md-8" >
      <!-- <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Quick Send</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
              <table id="mytable2" class="table table-bordred table-striped">    
                <thead> 
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Recipient</th>
                  <th>Country</th>
                  <th>Payment</th>
                </thead>

                <tbody ng-repeat="tran in recentTran">
                  <tr>
                  <td>{{tran.date}}</td>
                  <td>{{tran.amount}}</td>
                  <td>{{tran.recipient}}</td>
                  <td>{{tran.country}}</td>
                  <td>{{tran.payment}}</td>
                  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-success btn-md" data-title="Edit" data-toggle="modal" data-target="#edit">Send Money</button></p></td>
                  </tr>
                </tbody>
              </table>
          </div>

        </div>
      </div> -->


      <div class="panel" ng-controller="ActivityCtrl">
        <div class="panel-heading">
          <h3 class="panel-title" style="font-weight: normal; font-size: 25px">Recent Transactions</h3>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table id="mytable" class="table table-bordred ">
               
              <thead>
                <th>Status</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Recipient</th>
                <th>Country</th>
                <th>Payment</th>
              </thead>

              <tbody ng-repeat="transactions in activity.slice().reverse()" class="tabs">
                <tr class="tabs">
                  <td><i class="fa fa-check-square-o fa-2" aria-hidden="true" style="color: #55BE40; font-size: 25px;"></i></td>
                  <td>{{transactions.date}}</td>
                  <td>$ {{transactions.amount}}</td>
                  <td>{{transactions.recipient}}</td>
                  <td>{{transactions.country}}</td>
                  <td>{{transactions.payment}}</td>
                </tr>
              </tbody>
        
            </table>

            <div class="clearfix"></div>

          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- End Row -->

</div>
